/* static/css.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.links-list {
    list-style-type: none;
    padding: 0;
}

.links-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.links-list li img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.links-list li a {
    display: inline-block;
    background-color: #3897f0;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.links-list li a:hover {
    background-color: #2680f3;
}

.links-list li p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #666;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .container {
        border-radius: 0;
    }

    header h1 {
        font-size: 28px;
    }

    .links-list li a {
        font-size: 14px;
    }
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
